.main-header{
    background-color: #495057;
    height: 55px;
    align-items: center;
}
.search-container{
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.app-title{
    margin-left: 20px;
    width: 200px;
}

.title-link{
    text-decoration: none;
    color: white;
}
.btn-link{
    text-decoration: none;
    color: #495057;
}
.div-input{
    margin-right: 10px;
    width: 200px;
}
.search-btn{
    height: 35px;
    margin-right: 10px;
    width: 150px;
}


