@keyframes ldio-8p4k9hyewni {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-8p4k9hyewni div {
  left: 48px;
  top: 29.5px;
  position: absolute;
  animation: ldio-8p4k9hyewni linear 0.625s infinite;
  background: #0b1d27;
  width: 4px;
  height: 9px;
  border-radius: 2px / 2.88px;
  transform-origin: 2px 20.5px;
}.ldio-8p4k9hyewni div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.5921052631578947s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(2) {
  transform: rotate(18.94736842105263deg);
  animation-delay: -0.5592105263157894s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(3) {
  transform: rotate(37.89473684210526deg);
  animation-delay: -0.5263157894736842s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(4) {
  transform: rotate(56.8421052631579deg);
  animation-delay: -0.4934210526315789s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(5) {
  transform: rotate(75.78947368421052deg);
  animation-delay: -0.4605263157894737s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(6) {
  transform: rotate(94.73684210526316deg);
  animation-delay: -0.4276315789473684s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(7) {
  transform: rotate(113.6842105263158deg);
  animation-delay: -0.3947368421052631s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(8) {
  transform: rotate(132.6315789473684deg);
  animation-delay: -0.36184210526315785s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(9) {
  transform: rotate(151.57894736842104deg);
  animation-delay: -0.3289473684210526s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(10) {
  transform: rotate(170.52631578947367deg);
  animation-delay: -0.29605263157894735s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(11) {
  transform: rotate(189.47368421052633deg);
  animation-delay: -0.2631578947368421s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(12) {
  transform: rotate(208.42105263157896deg);
  animation-delay: -0.23026315789473684s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(13) {
  transform: rotate(227.3684210526316deg);
  animation-delay: -0.19736842105263155s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(14) {
  transform: rotate(246.31578947368422deg);
  animation-delay: -0.1644736842105263s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(15) {
  transform: rotate(265.2631578947368deg);
  animation-delay: -0.13157894736842105s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(16) {
  transform: rotate(284.2105263157895deg);
  animation-delay: -0.09868421052631578s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(17) {
  transform: rotate(303.1578947368421deg);
  animation-delay: -0.06578947368421052s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(18) {
  transform: rotate(322.10526315789474deg);
  animation-delay: -0.03289473684210526s;
  background: #0b1d27;
}.ldio-8p4k9hyewni div:nth-child(19) {
  transform: rotate(341.05263157894734deg);
  animation-delay: 0s;
  background: #0b1d27;
}
.loadingio-spinner-spinner-mld0i4lwhy {
  width: 81px;
  height: 81px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-8p4k9hyewni {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.81);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-8p4k9hyewni div { box-sizing: content-box; }
/* generated by https://loading.io/ */
