.filter-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}
.form-select{
    width: 150px;
    height: 35px;
    margin:0 10px 30px 0 ;
}
.select-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    
}


.table-title{
    width: 200px;
    color: #495057;
}
img{
    margin-top: 3px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}